h1{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.card{
    width: 400px;
    height: 380px;
    vertical-align: top;
    display: inline-block;
    margin: 10px;
}
